body {
    background-color: #FFF8F0;
    font-family: "K2D", sans-serif;
    font-weight: 400;
    font-style: normal;
}



/* Style the navigation menu */
.topnav {
  overflow: hidden;
  background-color: #FFF8F0;
  }

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
}

/* Style navigation menu links */
.topnav a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  }

/* Style the hamburger menu */
.topnav a.icon {
  background: #FFF8F0;
  color: #CA95FC;
  display: block;
  position: absolute;
  right: 0;
  top: 7;
  font-size: 21.5px;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
  background-color: #E9D2FF;
  opacity: 1;
  color: white;
}

/* Style the active link (or home/logo) */
.topnav a.active {
  background-color: #FFF8F0;
  color: #CA95FC;
}

.topnav a.active:hover {
  background-color: #E9D2FF;
  color: white;
}

/* Navbar container */
.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: Arial;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
  width: 100%;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: #CA95FC;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: white;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  background-color: #FFF8F0;
  color: #784910;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: white;
  color: #784910;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}


#BA {
text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
background-image: url("BG image 1.png");
background-position:center;
height:150px;
background-repeat: no-repeat;
background-size: 80%;
}

#BB {
text-align: center;
position: static;

}

#BG {
text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
background-image: url("BG image 2.png");
background-position:center;
height:150px;
background-repeat: no-repeat;
background-size: 60%;
}

#BH {
text-align: center;
position: static;

}

#BC {
text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
background-image: url("BG two strokes.png");
background-position:center;
height:150px;
background-repeat: no-repeat;
background-size: 70%;
}

h3{
color: #94EF5C;
font-size: 25px;
text-align: center;
}

#BD {
position: static;
text-align: left;
margin: 25px;
}

#BE {
position: static;
text-align: left;
margin: 25px;
}


#BF {
position: static;
text-align: left;
margin: 25px;
}



#CA {
text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
background-image: url("BG two strokes.png");
background-position:center;
height:220px;
background-repeat: no-repeat;
background-size: 70%;
}

#CB {

}

#CC {
text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
background-image: url("BG image 2.png");
background-position:center;
height:150px;
background-repeat: no-repeat;
background-size: 60%;
}

#CD {
text-align: center;
color: #784910;
  display: flex;
  justify-content: left;
  align-items: center;
background-image: url("Restaurant icon.png");
background-position:left;
height:25px;
background-repeat: no-repeat;
background-size: 4%;

}

#CF {
text-align: center;
color: #784910;
  display: flex;
  justify-content: left;
  align-items: center;
background-image: url("Cafe icon.png");
background-position:left;
height:25px;
background-repeat: no-repeat;
background-size: 4%;

}

#CE {
position: static;
}

#CG {
position: static;
}

#CH {
display: none
}

#DA {
text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
background-image: url("BG image 2.png");
background-position:center;
height:220px;
background-repeat: no-repeat;
background-size: 60%;
background-opacity: 0.7;
}

#DB {
text-align: left;
position: absolute;
top: 325px;
left: 22%;
}

#DC {
text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
background-image: url("BG image 1.png");
background-position:center;
height:120px;
background-repeat: no-repeat;
background-size: 60%;
background-opacity: 0.7;
}

#DD {
position: static;

width: 400px;
}

#DE {
position: static;

width: 400px;
}

#DF {
position: static;

width: 400px;
}

#DG {
position: static;

width: 400px;
}

#DH {
text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
background-image: url("BG two strokes.png");
background-position:center;
height:120px;
background-repeat: no-repeat;
background-size: 60%;
background-opacity: 0.7;
}


#Menucolumn1 {
  position: static;
  
}

#Menucolumn2 {
  position: static;
}

#Menucolumn3 {
  position: static;
}

#Menucolumn4 {
  position: static;
}

#Menucolumn5 {
  position: static;
  
}

#Menucolumn6 {
  position: static;
}

#Menucolumn7 {
  position: static;
}

#Menucolumn8 {
  position: static;
}


#Menucolumn9 {
  position: static;
  
}

#Menucolumn10 {
  position: static;
}

#Menucolumn11 {
  position: static;
}

#Menucolumn12 {
  position: static;
}


#Copyright {
  position: static; 
}

#Copyright2 {
  position: static; 
}

#Copyright3 {
  position: static; 
}
